 .container>* {
     border: 3px solid gold;
     background-color: blanchedalmond;
     padding: 30px;
 }

 header {
     grid-area: header;
 }

 /* Nav is now handled by sticky_nav.css and is outside the grid */

 main {
     grid-area: main;
 }

 #sidebar {
     grid-area: sidebar;
 }

 #advertise {
     grid-area: advertise;
 }

 footer {
     grid-area: footer;
 }

 .container {
     display: grid;
     gap: 20px;
     /* Adjusted areas since navbar is removed */
     grid-template-areas:
         "header header header header"
         "main   main   main   sidebar"
         "main   main   main   advertise"
         "footer footer footer footer"
 }

 @media screen and (max-width:576px) {
     .container {
         grid-template-areas:
             "header"
             "main"
             "sidebar"
             "advertise"
             "footer"
     }
 }

 @media screen and (min-width:576px) and (max-width:992px) {
     .container {
         grid-template-areas:
             "header    header header"
             "main      main   sidebar"
             "footer    footer advertise"

     }
 }